p {
  color: olive;
  font-size: 26px;
}

header {
  background-color: orange;
}

footer {
  background-color: lightcoral;
}

a {
  color: darkblue;
  background-color: peachpuff;
  text-decoration: none;
}

a:hover {
  color: red;
}

#education {
  border: 3px solid red;