
/* Type selectors */
html {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  font-size:  4rem;
  margin-bottom: 1.5rem;
}
#heading {
  color: yellow;
}
p {
  color: olive;
  font-size: 26px;
}
header {
  background-color: #f60; /* this is the same as ##ff600 */
  width: 80%;
  margin-left: 10%;
}
header p {
  background-color: snow;
  border-bottom: 1px solid gray;
}
#header-box {
  width: 50%;
  background-color: #33d549;
}
img {
  width: 100%;
}
footer {
  background-color: lightcoral;
}
a:link {
  color: darkblue;
  background-color: peachpuff;
  text-decoration: none;
}
a:visited {
  color: seagreen;
}
a:hover {
  text-decoration: underline;
}

/* turns links white with an orange background when they receive focus */
a:focus {
  color: rgb(255, 255, 255);
  background-color: rgba( 255, 165, 0, 0.5); /* 0.5 means 50% opacity */
}
ol li {
  letter-spacing: 2px;
  color: tomato;
}

/* styles the first li element in an ol */
/* ol li:first-child {
  font-weight: bold;
} */
/* Note that you can select any child with :nth-child() */


ul li {
  list-style: none;
}


/* ID selectors */


#education {
  border: 3px solid red;
}
#education h3 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  background-color: rgba( 150, 200, 250, 1);
}
#skills-list { 
  background-color: aliceblue;
  padding: 36px;
}

/* Class selectors */


.top-skill {
  font-weight: bold;
  background-color: teal;
  color:  papayawhip;
}
.date {
  border: 2px solid steelblue;
  border-radius: 12px;
  padding: 6px;
}
.special {
  text-transform: uppercase;
  background-color: papayawhip;
}
#proud {
  font-size: 48px;
}

